body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* Layout */
.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #1e293b;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: #cbd5e1;
    padding: 10px;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #334155;
}

/* Main */
.main {
    flex: 1;
    padding: 20px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card p {
    font-size: 22px;
    font-weight: bold;
}

/* Chart */
.chart-box {
    margin-top: 20px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.bar {
    background: #4f46e5;
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
}

/* Table */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #334155;
}

th {
    background: #334155;
}

.delete {
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete:hover {
    background: darkred;
}

/* Search */
#search {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
}